.resultText {
    font-weight: bold;
    font-size: xx-large;
}

.scoreText {
    color: red;
    font-size: 18px;
}

.resourceList{
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
}

.resourceList li:first-child {
    font-weight: 600;
}